<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Vinculación con hoja de CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Nombre que figura en la pestaña del navegador -->
    <title>Turismo Misiones</title>
    <!-- Icono que figura en la pestaña del navegador -->
    <link rel="icon" href="../img/Logo.ico">
    <!-- Tipo de letra -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="grid__container">

      <!-- ENCABEZADO (título, logo) -->
      <header class="header">
        <div class="header__box">
            <!-- Título y logo -->
            <div class="header__title">
              <h1 class="header__title__format">Tur<span style="color:#3ED13E">Mis</span></h1>
            </div>

          <!-- Menú -->
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__list__option"><a href="../index.html">INICIO</a></li>
              <li class="menu__list__option"><a href="cultura.html">CULTURA</a></li>
              <li class="menu__list__option"><a href="animales.html">ANIMALES</a></li>
              <li class="menu__list__option"><a href="lugares.html">LUGARES</a></li>
              <li class="menu__list__option"><a href="contacto.html">CONTACTO</a></li>
            </ul>
          </nav>
        </div> 
      </header>

      <!-- Tabla solicitada en el ejercicio -->
    <section class="main__culture bodyPages">
      <div class="titlePages">
          <h2>CULTURA</h2>
      </div>

      <div class="main__culture__box bodyPages__content">
        <div class="boxCulture">
          <div class="box__contenido">
            <div class="contenido__bandera">
              <div class="contenido__formato">
                <img src="../img/bandera.jpeg">
              </div>
              <h4>Bandera de la Provincia de Misiones</h4>
            </div>

            <div class="contenido__video">
              <div class="contenido__formato">
                <video controls>
                  <source src="../img/misionerita.mp4" type="video/mp4">
                </video>
              </div>
              <h4>Himno oficial</h4>
            </div>
          </div>
          <div class="box__historia cultura__txt">
            <h3 class="cultura__title">Historia</h3>
            <p class="historia__parr">La provincia de Misiones lleva un nombre que recuerda a los pueblos jesuíticos, pero su historia se funda en las raíces de la América indígena.</p>

            <p class="historia__parr">Los indios guaraníes, de la familia Tupí-Guaraní, provenientes del Amazonas, llegaron a lo que es hoy territorio misionero hacia el año 1000. En su mítica búsqueda de la “tierra sin mal” fueron asentándose a la vera de ríos y arroyos.</p>

            <p class="historia__parr">Desplazaron a pequeños grupos aislados que poblaban este territorio prácticamente inhabitado e hicieron lo mismo con grupos más importantes, como los guayaquíes y kaingang.</p>

            <p class="historia__parr">Los guaraníes eran guerreros, cazadores y recolectores. Se llamaban a sí mismos “avá”, que significa “hombre”. Pero también poseían grandes habilidades artísticas y una tradición agrícola. Compartían una misma lengua y afianzaban sus comunidades a través de lazos de parentesco. A la llegada de los españoles, los guaraníes ocupaban buena parte de la Cuenca del Plata, un inmenso territorio definido por los ríos Paraná, Paraguay y Uruguay con sus afluentes.</p>

            <p class="historia__parr">Los conquistadores españoles comenzaron a explorar la Cuenca del Plata luego de la fundación de Buenos Aires (1536) y Asunción (1537). Uno de ellos, Alvar Núñez Cabeza de Vaca, partió de la costa brasileña hacia la ciudad de Asunción, tomó contacto con numerosos grupos guaraníes y se encontró con la maravilla de las Cataratas del Iguazú (1542).</p>
          </div>
        </div>       

        <div class="comidas">
          <div class="comidas__grid">
            <div class="comida__txt cultura__txt">
              <h3 class="cultura__title">Gastronomía</h3>
              <p>Como consecuencia de las múltiples influencias culturales que conforman su identidad, la gastronomía misionera es muy variada. La cocina guaraní, la española, la brasilera y las recetas traídas por las distintas comunidades de inmigrantes europeos y asiáticos conforman una oferta gastronómica rica en sabores y procedencias.</p>
            </div>
            <div class="comida__poroto comida__foto">
              <h4>Feijoada</h4>
            </div>

            <div class="comida__reviro comida__foto">
              <h4>Reviro</h4>
            </div>

            <div class="comida__tortafrita comida__foto">
              <h4>Torta frita</h4>
            </div>
          </div>
        </div>

        <div class="economia">
          <div class="comidas__grid">
            <div class="cultura__txt economia__txt">
              <h3 class="cultura__title">Economía</h3>
              <p>En la provincia de Misiones el sector primario se sustenta en la agricultura, la explotación forestal y la silvicultura , parte de esta produccion agrícola y forestal luego son procesadas en el sector secundario de la provincia .</p>
            </div>
            <div class="economia__te comida__foto">
              <h4>Té</h4>
            </div>

            <div class="economia__madera comida__foto">
              <h4>Explotación forestal</h4>
            </div>

            <div class="economia__yerba comida__foto">
              <h4>Yerba Mate</h4>
            </div>
          </div>
        </div>
      </div>
      
    </section>

      <footer>
        <div class="footer__box">
          <p class="footer__box__text">© Turismo Misiones. 2021 </p>
          <div class="footer__box__redes"> 
            <a href="https://www.facebook.com/">
              <img class="footer__box__redes__icon" src="https://img.icons8.com/material-rounded/24/ffffff/facebook.png"/>
            </a>
            <a href="https://www.twitter.com">
              <img class="footer__box__redes__icon" src="https://img.icons8.com/ios-glyphs/24/ffffff/twitter--v1.png"/>
            </a>
            <a href="https://www.instagram.com">
              <img class="footer__box__redes__icon" src="https://img.icons8.com/ios-glyphs/24/ffffff/instagram-new.png"/>
            </a>
           </div>
        </div>
      </footer>
    </div>
  </body>
</html>