/* Colores */
:root{
	--grey1: #111;
	--grey2: #222;
	--grey3: #333;
	--color: FFB417;
	--color2: #3ED13E66;
	--color3: #1AA51A;
	--color4: #00000099;
}

/*---------------------------- 
------- GENERAL STYLE --------
------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Hammersmith One', 'Open Sans', sans-serif;
	background-color: #111;
}
/*-------------------
------ HEADER -------
---------------------*/
.header__box{
	display: flex;
	justify-content: space-between;
	min-width: 800px;
	margin: 0 50px;
	background-color: #111;
}

/* HEADER - TITLE AND LOGO */
.header__title{
	display: flex;
	align-items: center;
}
.header__title__format{
	color: white;
	letter-spacing: 2px;
	text-align: center;
	padding-left: 5px;
}

/* HEADER - MENU */
.menu{
	display: flex;
	align-items: center;
}
.menu__list__option{
	display: inline-block;
	padding-right: 12px;
}
.menu__list__option a{
	text-decoration: none;
	color: #fff;
	border-bottom: 2px #1AA51A solid;
}
.menu__list__option a:hover{
	transition: 0.4s;
	border-bottom: 2px #FFF solid;
	color: #3ED13EFF;
}
/*---------------------------
------ GENERAL FOOTER -------
-----------------------------*/
.footer__box{
	display: flex;
	align-items: center;
	margin: 0 40px;
}
.footer__box__text{
	color: #FFF;
	width: 100%;
}
.footer__box__redes{
	display: flex;
	justify-content: space-between;
	width: 120px;
}
.footer__box__redes__icon{
	display: flex;
	background-color: #1AA51A;
}
.footer__box__redes__icon a{
	text-decoration: none;
	display: flex;
}
/*--------------------------------------- 
-------------- INDEX STYLE --------------
----------------------------------------*/

/* ESTRUCTURA GENERAL */
.grid__container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3.2rem 1fr 2rem;
	height: 100vh;
}
.header{
	display: grid;
	grid-row: 1/ 2;
	grid-column: 1 / 2;
}
.main{
	display: grid;
	grid-row: 2 / 3;
	grid-column: 1 / 2;

	grid-template-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);

	border-top: 2px #FFF solid;
	border-bottom: 2px #FFF solid;
}
footer{
	display: grid;
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}

/* ------------------------- 
-------GENERAL PAGES -------
--------------------------*/
.bodyPages{
	background-image: url('../../img/body4.jpg');
	background-repeat: repeat;

	border-top: 2px #FFF solid;
	border-bottom: 2px #FFF solid;	
}
.titlePages{
	padding:  2% 3%;
	font-size: 2rem;
	background-color: #1AA51A ;
	letter-spacing: 3px;
	color: #DDD;

	display: flex;
	justify-content: center;
}

.bodyPages__content{
	margin: 0 40px;
}

/* MAIN STRUCTURE */
.main__cultura{
	grid-row: 1/ span 1;
	grid-column: 1 / 2;
	background-image: url("../../img/Cultura.jpg");
	background-size: cover;
}

.main__animal{
	grid-row: 1/ span 1;
	grid-column: 2/3;
	background-image: url("../../img/Animales.jpg");
	background-size: cover;
	background-position: center;
}

.main__lugares{
	grid-row: 1/ span 1;
	grid-column: 3/4;
	background-image: url("../../img/Lugares.jpg");
	background-size: cover;
}
/* MAIN STYLE */
.main__front{
	text-decoration: none;
}
.main__front__box{
	background-color: #00000099;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main__front__title{
	color: #FFF;
	letter-spacing: 4px;
	font-size: 2rem;
}

/* MAIN HOVER EFFECT */
.main__front__box:hover{
	background-color: #00000033;
}
/*-------------------------------------- 
------------ CULTURA STYLE ------------
---------------------------------------*/
/* MAIN CULTURA */
.main__culture{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}
.main__culture__box{
	padding:  1rem 1rem;
	background-color: #222222DD;
	color: #fff;

	font-family: 'Open Sans';
}
.boxCulture{
	display: grid;
	grid-template-rows: 100vh;
	grid-template-columns: 1fr 1fr;
	margin-top: 40px;
	margin-bottom: 40px;
}
.box__contenido{
	grid-column: 1/2;
	grid-row: 1/2;
	background-color: #44444466;
	display: inline-flex;
	flex-direction: column;
	align-items: center;

	padding: 20px 30px	 20px 30px;
}
.box__historia{
	grid-column: 2/3;
	grid-row: 1/2;
	background-color: #33333366;
	padding: 20px 30px	 20px 30px;
}

.historia__title{
	margin-bottom: 25px;
	font-size: 2rem;
	border-bottom: 2px solid #FFF;
	border-width: ;
	display: inline-block;
	letter-spacing: 2px;
}

.historia__parr{
	margin-bottom: 10px;
}
.contenido__formato{
	width: 30vw;
	height: 40vh;
}
.contenido__formato img{
	width: 100%;
}
.contenido__bandera{
	margin-bottom: 30px;
}
.contenido__formato video{
	width: 100%;
	height: 100%;
}

/* COMIDAS */
.poroto{
	width: 100%;
	height: 300px;
	background-image: url('../../img/Comidas/feijoada.jpg');
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;
}
.reviro{
	width: 100%;
	height: 300px;
	background-image: url('../../img/Comidas/reviro.jpg');
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;
}

.tortafrita{
	width: 100%;
	height: 300px;
	background-image: url('../../img/Comidas/tortafrita.jpg');
	background-size: cover;
	background-position: center;
}

/*-------------------------------------- 
------------ ANIMALES STYLE ------------
---------------------------------------*/
.main__animales{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}
.main__animales__box__container{
	display: flex;
	align-items: center;
	background-color: #222222EE;
	color: #FFF;
	border-bottom: 2px #AAA solid;
	height: 85vh;
	font-family: 'Open Sans';
	min-height: 420px;
}

.main__animales__box__container:last-child{
	border: none;
}
.main__animales__box__container__foto{
	max-width: 45%;
	min-width: 30%;
	margin: 0 2%;
	object-fit: contain;
}
.main__animales__box__container__text{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	justify-content: center;
}
.main__animales__box__container__text p{
	margin-top: 5px;
	width: 300px;
	height: 200px;
	font-weight: 300;
}


/*-------------------------------------- 
------------ LUGARES STYLE ------------
---------------------------------------*/
.main__lugar{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	background-color: #00000099;
}
.main__lugar__title{
	padding:  2% 3%;
	font-size: 2rem;
	background-color: #FFB417;
}
.main__lugar__box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 4%;
	padding:  1rem 1rem;
	background-color: #222;
}
.main__lugar__box__foto{
	display: inline-block;
	width: 300px;
	height: 300px;
	object-fit: cover;
}
/*-------------------------------------- 
------------ CONTACTO STYLE ------------
---------------------------------------*/
.main__contact{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	background-color: #00000099;
}
.main__contact__title{
	padding:  2% 3%;
	font-size: 2rem;
	background-color: #FFB417;
}
.main__contact__box{
	margin: 0 4%;
	padding:  1rem 1rem;
	background-color: #222;
	color: #fff;
}
.container-formulario{
	display: inline-block;
	padding: 30px;
	background-color: #111;
}
